@charset "UTF-8";

/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  /* Cores */
  --cor1: #0a0a0a;
  --cor2: #333333;
  --cor3: #dce0d9;
  --cor4: #0078d3;
  --cor5: #56d97f;

  --cor1-transparente: #0a0a0a80;

  /* Fonte */
  --fonte-padrao: "Lato", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-padrao);
}
html,
body {
  background-color: var(--cor3);
}

header {
  width: 100vw;
  position: fixed;
  background-color: var(--cor1-transparente);
  backdrop-filter: blur(30px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.logo {
  padding: 10px;
  /* Gradiente-texto */
  background-image: linear-gradient(to bottom left, var(--cor4), var(--cor5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.logo > h1 {
  font-size: 3em;
  font-weight: 300;
}
.logo > p {
  margin-top: -5px;
  font-size: 1.25em;
  font-variant: small-caps;
}

nav {
  height: 100%;
  padding: 0 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin-left: 10px;
  margin-right: 10px;
}
nav a {
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.3em;
  color: var(--cor3);

  position: relative;
  transition: border-bottom 0.3s;
}
/* Efeito hover */
nav a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to left, var(--cor4), var(--cor5));
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}
a#pagina-atual,
nav a:hover {
  /* Gradiente-texto */
  background-image: linear-gradient(to left, var(--cor4), var(--cor5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
a#pagina-atual::after,
nav a:hover::after {
  transform: scaleX(1);
}
/* CAPA */
section#capa {
  height: 700px;
  background: url(../paginas/inicio/imagens/capa.jpg) center center no-repeat fixed;
  background-size: cover;
  box-shadow: inset 0 -11px 10px rgba(0, 0, 0, 0.5);
}
section > div {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#capa h1,
section#capa p {
  /* Gradiente-texto */
  background-image: linear-gradient(to bottom left, var(--cor4), var(--cor5));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
section#capa h1 {
  font-weight: 400;
  font-size: 8em;
}
section#capa p {
  margin-top: -15px;
  font-variant: small-caps;
  font-size: 1.5em;
}
/* Texto dentro do main */
main article {
  max-width: 1000px;
  margin: auto;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
}
section.adquira-plano {
  padding: 50px 0;
}
section.adquira-plano p {
  padding: 25px 0;
  text-align: center;
  font-size: 2em;
}
/* LISTA COM ÍCONES NA HORIZONTAL */
ul.lista-icones-horizontal {
  list-style-type: none;
  display: flex;
  justify-content: space-between; /*Espaço igual entre itens */
}
ul.lista-icones-horizontal img {
  width: 100px;
  height: 100px;
}
ul.lista-icones-horizontal li {
  text-align: center;
}
ul.lista-icones-horizontal p {
  padding: 0;
}
